assemblyai
colorlog
feedparser
ipykernel
jupyter
langchain
langchain-ollama
langchain-openai
langchain_community
langchainhub
langgraph
matplotlib
nomic[local]
notebook
numpy
ollama
openai
pandas
pinecone-client[grpc]
psycopg2
pytube
python-dotenv
pyyaml
requests
scikit-learn
streamlit
streamlit-extras
tavily-python
TikTokApi
tiktoken
torch
tqdm
transformers