pyyaml
requests
numpy
pandas
jupyter
notebook
ipykernel
matplotlib
scikit-learn
streamlit
python-dotenv
feedparser
langchain
tavily-python
langgraph
langchain_community
langchain-openai
langchainhub
langchain-ollama
nomic[local]
openai
tiktoken
tqdm
streamlit-extras
pinecone-client[grpc]
assemblyai
pytube
TikTokApi
torch
transformers
ollama
colorlog